<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <header>
    <div class="container">
      <div class="navigation">
        <div class="notification">
          Complete Your Purchase
        </div>
      </div>
    </div>
  </header>
  <section class="content">

    <div class="container">

    </div>
    <div class="details shadow ">
      {% for product_id, count in cart_items_count.items() %}
      {% set cart_item = cart_items_dict[product_id] %}
      <div class="details__item">

        <div class="item__image">
          <img class="iphone" src="{{ url_for('static', filename='images/'+cart_item.product.image_file) }}" alt="">
        </div>
        <div class="item__details">
          <div class="item__title">
            {{ cart_item.product.name }}
          </div>
          <div class="item__price">
            Price :${{ cart_item.product.price }}
          </div>
          <div class="item__quantity">
            Quantity :{{count}}
          </div>
        </div>

      </div>
      {% endfor %}

    </div>

    </div>
    <div class="container w-80">
      <h2>Delivery Address</h2>
      <form method="POST" class="w-100 rounded p-4 border bg-white" action="/checkout">
        <span class="d-flex flex-row">
          <label class="d-block mb-4 mr-4">
            <input name="first_name" type="text" class="form-control" required placeholder="First Name" />
          </label>
          <label class="d-block mb-4">
            <input name="last_name" type="text" class="form-control" required placeholder="Last Name" />
          </label>
        </span>
        <label class="d-block mb-4">
          <input name="address_line1" type="text" class="form-control" required placeholder="Address Line 1" />
        </label>
        <label class="d-block mb-4">
          <input name="address_line2" type="text" class="form-control" required placeholder="Address Line 2" />
        </label>
        <label class="d-block mb-4">
          <input name="phone" type="text" class="form-control" required placeholder="Phone" />
        </label>
        <span class="d-flex flex-row">
          <label class="d-block mb-4 mr-4">
            <input name="pin" type="text" class="form-control" required placeholder="PIN" />
          </label>
          <label class="d-block mb-4 mr-4">
            <input name="city" type="text" class="form-control" required placeholder="City" />
          </label>
          <label class="d-block mb-4">
            <input name="state" type="text" class="form-control" required placeholder="State" />
          </label>
        </span>
        <label class="d-block mb-4">
          <input name="country" type="text" class="form-control" required placeholder="Country" />
        </label>
        <button type="submit" class="btn btn-primary d-flex flex-row ">Place Order</button>

      </form>

    </div>



    </div>

    </div>
    <!-- Footer -->
    <footer class="footer">
      <div class="col">
        <img src="images/logo1.png" alt="logo" width="50px," ;height="50px" ;>
        <h4>Contact</h4>
        <p><b>Address:</b>123 Qeensroad, Romastreet</p>
        <p><b>Phone:</b>+0564 455. 0487 222 784</p>
        <p><b>Email:</b>nike@gmail.com.au</p>
        <br>
        <div class="Small_logos">
          <h4>Follow Us</h4>
          <div class="logos">
            <i class="fa fa-facebook-official"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-youtube-play"></i>
          </div>
        </div>
      </div>
      <div class="col">
        <h4>GET HELP</h4>
        <a href="/"> order Status</a>
        <a href="/"> Shipping & Delivery </a>
        <a href="/"> Returns</a>
        <a href="/"> Payment Options</a>
        <a href="/"> contact Us</a>
      </div>

      <div class="col">
        <h4>ABOUT NIKE</h4>
        <a href="/"> News</a>
        <a href="/"> Careers</a>
        <a href="/"> Investors</a>
        <a href="/"> Sustainability</a>
      </div>

      <div class="col">
        <h4>JOIN US</h4>
        <a href="/"> Nike App</a>
        <a href="/"> Become A Member</a>
        <a href="/"> Feedback</a>
        <a href="/"> PromoCodes</a>
      </div>

      <div class="Appinstall">
        <h4>Install App</h4>
        <p>From App Store or Google Pay</p>
        <div class="apps">
          <img src="images/paay1.jpg" alt="playstore" width="350" ;height="60" ;>
        </div>
        <p>Secured Payment methods</p>
        <img src="images/payment.png" alt="playstore" width="350" ;height="60" ;>
      </div>

      </div>

    </footer>
    <div class="copyright">
      <p>© 2023 Nike, Inc. All Rights Reserved.Copyright &copy; 2023</p>
    </div>

</body>

</html>